* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1a1919;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a1a0a0;
  border-radius: 10px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 40;
  padding: 0 30px;
}

#movie {
  color: #ffaf39;
}

.navbar_logo h1 a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 0;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-grow: 1;
  margin-left: 40px;
}

.menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover {
  transition: 0.5s;
  color: #ffaf39;
}

.navbar_search {
  margin-left: auto;
  border-radius: 20px;
}

.navbar_search input::placeholder {
  color: #1a1919;
  font-weight: bold;
}

.navbar_search input {
  border: none;
  background: rgba(255, 255, 255, 0.741);
  padding: 11px 20px;
  border-radius: 20px;
  outline: none;
  color: rgb(31, 27, 27);
  font-weight: bold;
}

.navbar_scrolled {
  background-color: #1a1919;
  opacity: 1;
  transition: background-color ease-in 0.3s;
}

.section_container {
  width: 100%;
  height: 100%;
}

.hero_content {
  display: flex;
  min-height: 100%;
  max-height: 96vh;
  overflow: hidden;
}

.content {
  overflow: hidden;
  min-width: 100%;
  min-height: 450px;
  position: relative;
}

.transition_all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.image_container {
  width: 100%;
  height: 100%;
}

.image_container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.background_gradient {
  background-image: linear-gradient(to top, #1a1919, transparent);
}

.info_content {
  margin-left: 30px;
  margin-right: auto;
  width: 100%;
}

.info {
  width: 100%;
  position: absolute;
  bottom: 20px;
  max-width: 30rem;
}

.btn-play img {
  border-radius: 50%;
  background: #ffaf39;
  height: 36px;
  position: absolute;
  bottom: 1rem;
  left: 11.5rem;
}

.movie_info h2 {
  font-size: 30px;
}

.efecto:hover {
  transform: scale(1.05);
}

.section_movie {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 10px 30px;
  border: none;
  background-color: #ffaf39;
  color: white;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.btn:hover {
  background-color: white;
  transition: background-color 0.2s ease-in, color 0.2s ease-in,
    transform 0.2s ease-in;
  color: #171717;
  transform: translateY(-3px);
}

.btn_container {
  margin-top: 20px;
}

.line_clamp_3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 0.3rem !important;
  opacity: 1;
  transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
  width: 1.2rem !important;
  background-color: #ffaf39 !important;
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  background-color: #b67f2c !important ;
  transform: scale(1.2);
}

.platforms {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.platforms img {
  width: 50px;
  height: 50px;
  filter: invert(63%) sepia(80%) saturate(444%) hue-rotate(344deg)
    brightness(105%) contrast(101%);
}

.adversting {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adversting_content {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  gap: 30px;
  flex-wrap: wrap;
}

.adversting_card {
  background-color: #222;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

.adversting_card .logo {
  position: absolute;
  top: -20px;
  left: 10px;
  width: 50px;
  height: 50px;
  filter: invert(63%) sepia(80%) saturate(444%) hue-rotate(344deg)
    brightness(105%) contrast(101%);
}

.adversting_card img.image {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.adversting_card .title {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

.adversting_card h3 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffaf39;
}

.adversting_card .description {
  font-size: 14px;
  color: #ccc;
}

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 20px;
}

p {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  text-overflow: ellipsis;
}

.info_content_span {
  font-weight: 500;
  color: white;
  font-size: 18px;
}

.container {
  padding: 0 20px;
  max-width: 100%;
  overflow: hidden;
}

.movies_slider {
  color: white;
  max-width: 100%;
  margin-bottom: 50px;
}

h2 {
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
}

.swiper_movies {
  position: relative;
}

.content_image {
  margin-top: 20px;
}

.image_slider {
  width: 250px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.image_slider:hover {
  transform: scale(1.05);
  z-index: 30;
  border: 2px solid #ffaf39;
}

.movie_info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #ffaf39;
  padding: 10px 20px 20px 20px;
}

.movie_info p {
  width: 80%;
  color: rgb(255, 255, 255);
  font-weight: 600;
  overflow-wrap: break-word;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffaf39 !important;
  font-size: 20px !important;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s;
  display: block;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  text-align: center;
  color: #ffaf39;
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.swiper_button_hidden {
  display: none !important;
}

footer {
  background-color: #242222;
  margin-top: 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.footer-logo {
  flex: 1;
  text-align: left;
}

.text-footer {
  color: white;
  text-decoration: none;
}

.terms-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.terms-content a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

.contact-info {
  flex: 1;
  text-align: right;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .navbar {
    height: 75px;
  }

  .adversting_card {
    width: 300px;
  }

  .image_slider {
    width: 200px;
    height: 300px;
  }

  .container {
    padding: 0 20px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .navbar {
    height: 60px;
  }

  .adversting_card {
    width: 250px;
  }

  .image_slider {
    width: 150px;
    height: 220px;
  }

  .container {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar_logo h1 {
    font-size: 10px;
  }

  .navbar_search {
    margin: 10px 0;
  }

  .text_navbar_search {
    width: 120px;
    font-size: 9px;
  }

  .adversting_card {
    width: 100%;
  }

  .image_slider {
    width: 100%;
    height: auto;
  }

  .container {
    padding: 0 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-size: 15px;
  }

  .title_movie {
    font-size: 20px;
  }

  .line_clamp_3 {
    width: 80%;
    font-size: 10px;
  }

  .info_content_span {
    font-size: 10px;
  }
  .platforms {
    display: flex;
    flex-wrap: wrap;
  }

  .btn {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }

  .footer-content {
    display: inline;
  }

  .footer-logo {
    text-align: center;
  }
}
