body {
    background-color: #000a1f;
}


h1{

    color: white;

}

.swiper {
    margin: 100px 0 0 200px;
    width: 80%;
    height: 450px;
    display: flex;
    justify-content: center;
    
}


.swiper .swiper-slide img {
    border-radius: 10px;
    width: 78%;
    height: 68%;
    object-fit: cover;
    margin-left: 110px;
    
}

.swiper-slide{
    margin-left: -100px;
    
}

.swiper-button-next:after, .swiper-button-prev:after{
    color: white;
    margin-top: -150px;
    
}


